<div class="flex flex-col items-center justify-center h-screen">
  <iframe
    src="https://calendar.google.com/calendar/u/0/embed?src=thuhc2021@gmail.com&ctz=Asia/Taipei"
    width="100%"
    height="100%"
    class="rounded-lg"></iframe>
</div>
