<footer
  class="bg-background/80 backdrop-blur-sm border-t border-border text-center text-sm text-gray-500 py-4"
>
  <p class="mb-2">
    歡迎到 <a
      href="https://github.com/ttymayor/thu-hacker-club"
      class="text-blue-500">GitHub</a
    > 貢獻
  </p>
  <p>Copyright © 2025 東海駭客社</p>
</footer>
