---

---

<div
  class="prose dark:prose-invert
  prose-h1:font-bold prose-h1:text-xl
  prose-h2:font-bold prose-h2:text-lg
  prose-h3:font-bold prose-h3:text-base
  prose-h4:font-bold prose-h4:text-sm
  prose-h5:font-bold prose-h5:text-xs
  prose-h6:font-bold prose-h6:text-xs
  prose-a:text-green-600
  prose-a:hover:text-green-500
  prose-a:transition-all
  prose-a:no-underline
  prose-p:text-justify
  prose-img:rounded-xl
  prose-headings:underline
  prose max-w-none
  prose h-screen"
>
  <slot />
</div>
