---
import "../styles/global.css";
import { SidebarLayout } from "@/components/react/SidebarLayout";
import ThemeHeadScript from "@/components/ThemeHeadScript.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>東海駭客社</title>
    <ThemeHeadScript />
  </head>
  <body class="m-0 w-full h-full">
    <SidebarLayout client:load>
      <slot />
    </SidebarLayout>
  </body>
</html>
