---
import "../styles/global.css";
import { SidebarLayout } from "@/components/react/SidebarLayout";
import ThemeHeadScript from "@/components/ThemeHeadScript.astro";
import { getPosts } from "@/utils/getPosts";
import { ClientRouter } from "astro:transitions";

const posts = await getPosts();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>東海駭客社</title>
    <ThemeHeadScript />
    <ClientRouter />
  </head>
  <body class="m-0 w-full h-full">
    <SidebarLayout client:load posts={posts}>
      <div transition:animate="slide">
        <slot />
      </div>
    </SidebarLayout>
  </body>
</html>
