---
import Prose from "@/components/Prose.astro";
import MarkdownFooter from "@/components/MarkdownFooter.astro";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout>
  <Prose>
    <div id="header">
      <div id="title-container">
        <div id="title-container-left">
          {frontmatter?.title && <h1 id="title">{frontmatter.title}</h1>}
        </div>
        <div id="title-container-right">
          {frontmatter?.date && <p id="date">{frontmatter.date}</p>}
          {frontmatter?.author && <p id="author">{frontmatter.author}</p>}
        </div>
      </div>
      <div id="tags">
        tags:
        {
          frontmatter?.tags &&
            frontmatter.tags.map((tag: string) => <span>{tag}</span>)
        }
      </div>
    </div>
    <slot />
  </Prose>
  <MarkdownFooter />
</Layout>

<style>
  #title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
  #header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
  }
  #title-container-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
  #title-container-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin-left: 1rem;
  }
  #title {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
  }

  #author {
    font-size: 0.875rem;
    margin-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  #date {
    font-size: 0.875rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  #tags {
    font-size: 0.875rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  #tags span {
    font-size: 0.75rem;
    margin-right: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    background-color: #3b3b3b;
    color: #ffffff;
  }

  /* 手機 */
  @media (max-width: 768px) {
    #header {
      flex-direction: column;
      align-items: flex-start;
    }

    #title-container {
      flex-direction: column;
      align-items: flex-start;
    }

    #title-container-left {
      flex-direction: column;
      align-items: flex-start;
    }

    #title-container-right {
      flex-direction: column;
      align-items: flex-start;
      margin-left: 0;
    }

    #author {
      margin-left: 0;
    }
  }
</style>
